.browse {
  height: 1000px;
}
.browse .browse-hero {
  height: 1000px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(167, 232, 189, 0.6)), to(rgba(167, 232, 189, 0.6))), url(../images/recipe-hero.jpg);
  background-image: linear-gradient(rgba(167, 232, 189, 0.6), rgba(167, 232, 189, 0.6)), url(../images/recipe-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: rgb(167, 232, 189);
}
.browse .browse-hero .browse-hero-container {
  position: absolute;
  width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse .browse-hero .browse-hero-container .browse-content-container {
  height: 650px;
  width: 1100px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-title {
  height: 32px;
  width: 300px;
  color: black;
  font-size: 25px;
  font-family: Caveat-B;
  letter-spacing: 2.5px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container {
  height: 610px;
  width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe {
  height: 263px;
  width: 524px;
  margin-top: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-pic img {
  height: 263px;
  width: 300px;
  border-radius: 24px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content {
  background-color: #FFFFFF;
  height: 263px;
  width: 224px;
  border-radius: 24px;
  padding-top: 30px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-title {
  height: 20px;
  width: 118px;
  font-size: 15px;
  font-family: Lato-R;
  letter-spacing: 1.5px;
  border-bottom: 2px solid black;
  color: black;
  text-align: center;
  margin: 0 auto;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-description {
  height: 60px;
  width: 138px;
  font-size: 9px;
  font-family: Lato-R;
  color: black;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-time {
  height: 24px;
  width: 110px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-time .time-icon {
  background-image: url(../images/time.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 24px;
  width: 24px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-time .time {
  height: 18px;
  width: 114px;
  font-size: 10px;
  font-family: Lato-R;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-servings {
  height: 24px;
  width: 110px;
  margin: 0 auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-servings .servings-icon {
  background-image: url(../images/servings.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 24px;
  width: 24px;
}
.browse .browse-hero .browse-hero-container .browse-content-container .browse-gallery-container .recipe .recipe-content .recipe-servings .servings {
  height: 18px;
  width: 114px;
  font-size: 10px;
  font-family: Lato-R;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-top: 5px;
}
.browse .browse-hero .footer-container {
  height: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}